In [63]:
import pandas as pd
import FinanceDataReader as fdr
import seaborn as sns            # 시각화(matplotlib 를 좀 쉽게 사용하게 하는 유틸)
fdr.__version__

'0.9.31'

In [37]:
df_krx = fdr.StockListing("KRX")     # 한국거래소 = 코스피 + 코스탁 + 코넥스
df_ksp = fdr.StockListing("KOSPI")   # 한국거래소 > 코스피
df_ksd = fdr.StockListing("KOSDAQ")  # 한국거래소 > 코스닥
df_nd = fdr.StockListing("NASDAQ")   # 미국 > 나스닥

100%|█████████████████████████████████████████████████████████████████████████████| 4538/4538 [00:06<00:00, 667.67it/s]

In [61]:
# 요약본 보기
fdr.StockListing??
# df_krx.head?

Signature: fdr.StockListing(market)
Source:
def StockListing(market):
    '''
    read stock list of stock exchanges
    * market: 'S&P500', 'NASDAQ', 'NYSE', 'AMEX', 'SSE', 'SZSE', 'HKEX', 'TSE', 'HOSE',
            'KRX', 'KOSPI', 'KOSDAQ', 'KONEX'
            'KRX-DELISTING', 'KRX-MARCAP', 'KRX-ADMINISTRATIVE'
            'ETF/KR'
    '''
    market = market.upper()
    if market in [ 'NASDAQ', 'NYSE', 'AMEX', 'SSE', 'SZSE', 'HKEX', 'TSE', 'HOSE']:
        return NaverStockListing(market).read()
    if market in [ 'KRX', 'KOSPI', 'KOSDAQ', 'KONEX']:
        return KrxStockListing(market).read()
    if market in [ 'KRX-DELISTING' ]:
        return KrxDelisting(market).read()
    if market in [ 'KRX-MARCAP' ]:
        return KrxMarcapListing(market).read()
    if market in [ 'KRX-ADMINISTRATIVE' ]:
        return KrxAdministrative(market).read()
    if market in [ 'S&P500', 'SP500']:
        return WikipediaStockListing(market).read()
    if market.startswith('ETF'):
        toks = market.split('/')
        etf, country = toks[0], toks[1]
        if country.upper() == 'KR':
            return NaverEtfListing().read()
        return InvestingEtfListing(country).read()
    else:
        msg = "market='%s' is not implemented" % market
        raise NotImplementedError(msg)
File:      c:\users\shini\appdata\roaming\python\python39\site-packages\financedatareader\data.py
Type:      function

In [13]:
# 01. 한국거래소 상장종목 전체 가져오기
print(df_krx.shape) # (행, 열)
df_krx.head()       # 앞에서 5개 보기

(5801, 10)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
6,152100,KOSPI,ARIRANG 200,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7,295820,KOSPI,ARIRANG 200동일가중,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8,253150,KOSPI,ARIRANG 200선물레버리지,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [34]:
# 02. 코스피
print(df_ksp.shape) # (행:0, 열:1)
df_ksp.tail()       # 뒤에서 5개 보기

(5801, 10)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
7483,069260,KOSPI,휴켐스,기타 화학제품 제조업,"화합물,화학제품 제조",2002-10-07,12월,이건호,http://www.huchems.com,서울특별시
7487,000540,KOSPI,흥국화재,보험업,손해보험,1974-12-05,12월,권중원,http://www.insurance.co.kr,서울특별시
7488,000547,KOSPI,흥국화재2우B,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7489,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7490,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시

In [68]:
# 03. 코스닥
print("총갯수:",df_ksd.shape[0], " 열갯수:",df_ksd.shape[1]) # (행, 열)
# df_ksd.info() # 전체 데이터프레임의 요약정보
# df_ksd.head() # 데이터 중에서 상위 5개 조회
# df_ksd.tail() # 데이터 중에서 하위 5개 조회
df.sample(5) # 데이터 중에서 무작위로 5개 조회(default 1개)
# df_ksd.describe()   # 기술통계 요약정보
# df_ksd.isna()       # 결측치(값이 존재하지 않는 데이터)
# df_ksd.isna().sum() # 결측치 합계
# df_ksd["Market"].value_counts()
# df_ksd["Industry"].value_counts().head(10) # 산업별 총계 중에서 상위 10개 조회
# df_ksd["Region"].value_counts()
# df_ksd[ df_ksd["Region"] == "케이맨 제도" ] # Region 값이 케이맨 제도인 데이터를 데이터프레임 형태로 반환( 블리언 인덱싱 )

총갯수: 1561  열갯수: 10

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
7292,030520,KOSDAQ,한글과컴퓨터,소프트웨어 개발 및 공급업,오피스소프트웨어,1996-09-24,12월,"변성준, 김연수 (각자대표)",http://www.hancom.com,경기도
2585,039980,KOSDAQ,리노스,"섬유, 의복, 신발 및 가죽제품 소매업","TRS통신, Kipling Bag외",2002-08-13,12월,"김웅, 박병근 (각자 대표이사)",http://www.leenos.co.kr,서울특별시
7378,059270,KOSDAQ,해성티피씨,기타 금속 가공제품 제조업,기어 및 동력전달장치,2021-04-21,12월,이건복,http://www.haisung.co.kr,인천광역시
90,068790,KOSDAQ,DMS,특수 목적용 기계 제조업,LCD 제조장비,2004-10-01,12월,박용석,http://www.dms21.co.kr,경기도
2310,027830,KOSDAQ,대성창투,신탁업 및 집합투자업,투자서비스,1999-11-30,12월,"김영훈, 박근진 (각자대표이사)",http://www.daesungpe.com,서울특별시

In [71]:
# 한국거래소 종목 정보 저장
df_krx.to_csv("./data/A01_종목_KRX.csv", index=False)
# 코스피 종목 정보 저장
df_ksp.to_csv("./data/A02_종목_코스피.csv", index=False) # encoding='cp949'
# 코스닥 종목 정보 저장
df_ksd.to_csv("./data/A03_종목_코스닥.csv", index=False)

In [72]:
# 종목 csv 파일 읽기
df_krx = pd.read_csv("./data/A01_종목_KRX.csv", dtype={"Symbol":object}, encoding='utf8')
df_ksp = pd.read_csv("./data/A02_종목_코스피.csv", dtype={"Symbol":object}, encoding='utf8')
df_ksd = pd.read_csv("./data/A03_종목_코스닥.csv", dtype={"Symbol":object}, encoding='utf8')

In [76]:
# 특정 행만 출력
print("타입: ", type(df_krx.loc[0]), type(df_krx))
print("\n0번째 데이터: \n",df_krx.loc[0]) # 0번째 행 출력

타입:  <class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

0번째 데이터:
 Symbol                          060310
Market                          KOSDAQ
Name                                3S
Sector                        전자부품 제조업
Industry                   반도체 웨이퍼 캐리어
ListingDate                 2002-04-23
SettleMonth                        03월
Representative                     김세완
HomePage          http://www.3sref.com
Region                           서울특별시
Name: 0, dtype: object

In [103]:
# 2개 이상 데이터 조회
print(df_krx[["Symbol", "Name"]]) # 데이터 프레임은 2차원이므로 대괄호를 2개 사용해야 함.
df_krx.loc[[0,2,4]]

      Symbol     Name
0     060310       3S
1     095570   AJ네트웍스
2     006840    AK홀딩스
3     054620   APS홀딩스
4     265520    AP시스템
...      ...      ...
7488  000547  흥국화재2우B
7489  000545    흥국화재우
7490  003280     흥아해운
7491  037440       희림
7492  238490       힘스

[7493 rows x 2 columns]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [94]:
# 2개 이상 데이터를 dataframe 형태로...
df_krx[["Symbol", "Name"]].head(2)

   Symbol    Name
0  060310      3S
1  095570  AJ네트웍스

In [112]:
%timeit df_krx.loc[1, ["Symbol", "Name"]] # 한 번에 가져와서 보여주므로 더 빠르다.(권장)
%timeit df_krx.loc[1][["Symbol", "Name"]] # 한 번 가져와서 그 중에서 다시 조회를 하므로 더 느리다.
display(df_krx.loc[[0,1,2], ["Symbol", "Name"]]) # jupyter에서 display 하면 print와 같다

676 µs ± 43 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
662 µs ± 26.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

   Symbol    Name
0  060310      3S
1  095570  AJ네트웍스
2  006840   AK홀딩스

In [125]:
# Filter
# Region=="서울특별시" 이면서 Market=="KOSPI" 인 데이터 중에서 상위 2개 조회
display(df_krx[ (df_krx["Region"] == "서울특별시") & (df_krx["Market"] == "KOSPI") ].head(2))
# Region=="서울특별시" 이면서 Market=="KOSPI" 인 데이터 중에서 상위 2개 조회(단, "Region", "Market", "Symbol", "Name" 만 조회)
df_krx.loc[ (df_krx["Region"] == "서울특별시") & (df_krx["Market"] == "KOSPI"), ["Region", "Market", "Symbol", "Name"] ].head(2)

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시

  Region Market  Symbol    Name
1  서울특별시  KOSPI  095570  AJ네트웍스
2  서울특별시  KOSPI  006840   AK홀딩스