#### 경기데이터드림 OpenApi 응답 명세
- [URL](https://data.gg.go.kr/portal/data/service/selectServicePage.do?page=1&rows=10&sortColumn=&sortDirection=&infId=V3FXHJNFCLAVBMQTBRRI29844183&infSeq=1&order=&cateId=GG29)

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in /Users/hyojinlee/opt/anaconda3/lib/python3.9/site-packages (1.0.2)

In [2]:
import pandas as pd
import numpy as np
from util.myUtil import MySQLDao
dao = MySQLDao()

[문제-01] 데이터 구조(스펙)을 데이터프레임 형태로 변환하시오. 단, 데이터 출력은 좌측정렬 하시오.
- [데이터 구조확인](https://data.gg.go.kr/portal/data/service/selectServicePage.do?page=1&rows=10&sortColumn=&sortDirection=&infId=V3FXHJNFCLAVBMQTBRRI29844183&infSeq=2&order=&loc=&cateId=GG29)

In [3]:
spec = pd.DataFrame([{"영문명":"INF_ID","한글명":"공공데이터ID"},{"영문명":"INF_NM","한글명":"공공데이터명"},{"영문명":"CALL_URL","한글명":"호출URL"},{"영문명":"COL_ID","한글명":"항목ID"},{"영문명":"COL_NM","한글명":"항목명"},{"영문명":"COL_TYPE","한글명":"항목타입"},
{"영문명":"REQ_YN","한글명":"요청인자여부"}])
spec.style.set_properties(**{'text-align': 'left'}) # 데이터 좌측정렬

[문제-02] csv 파일을 받은 받아서, 인코딩을 utf-8로 변경하여 저장하시오.(cp949 > utf-8)
- [다운로드 페이지](https://data.gg.go.kr/portal/data/service/selectServicePage.do?page=1&rows=10&sortColumn=&sortDirection=&infId=V3FXHJNFCLAVBMQTBRRI29844183&infSeq=1&order=&loc=&cateId=GG29) CSV 파일 다운로드

In [4]:
# df = pd.read_csv("data/02_경기데이터드림OpenApi응답명세.csv", encoding="cp949")
# df.to_csv("data/02_경기데이터드림OpenApi응답명세.csv", encoding="utf-8", index=False) # 데이터프레임에서 자동 생성한 index 제거

[문제-03] 저장한 csv 파일을 데이터프렘으로 변환해서 출력하시오.

In [5]:
df = pd.read_csv("data/02_경기데이터드림OpenApi응답명세.csv")
df.head(20)

,공공데이터ID,공공데이터명,호출URL,항목ID,항목명,항목타입,요청인자여부
0,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,SIGUN_CD,시군코드,TEXT,N
1,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,SIGUN_NM,시군명,TEXT,Y
2,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,SIGNGU_NM,시군구명,TEXT,Y
3,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,KIDGARTN_TYPE_NM,어린이집유형명,TEXT,N
4,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,ADMDONG_NM,행정동명,TEXT,N
5,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,KIDGARTN_NM,어린이집명,TEXT,N
6,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,REFINE_ROADNM_ADDR,소재지도로명주소,TEXT,N
7,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,REFINE_LOTNO_ADDR,소재지지번주소,TEXT,N
8,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,REFINE_WGS84_LAT,위도,TEXT,N
9,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,REFINE_WGS84_LOGT,경도,TEXT,N
10,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,KIDGARTN_TELNO,어린이집전화번호,TEXT,N
11,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,CONFMTN_DE,인가일자,TEXT,N
12,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,EVALTN_CERTFIY_YN,평가인증여부,TEXT,N
13,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,TM_EXTS_TYPE_YN,시간연장유형여부,TEXT,N
14,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,PUBL_TYPE_APPONT_YN,공공유형지정여부,TEXT,N
15,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,AGE10_CHILD_APPONT_YN,0세아동지정여부,TEXT,N
16,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,STD_YM,기준년월,TEXT,N
17,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,CHILD_HOUSE_CNT,어린이집수,NUMBER,N
18,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,CHLDCARE_SCHLSTAF_CNT,보육교직원수,NUMBER,N
19,KE22KP2IJFD15YD0W4BU29615963,0세아 전용 어린이집 현황,https://openapi.gg.go.kr/Age0PrvuuseKidgartn,CHILD_PSN_CAPA_CNT,아동정원수,NUMBER,N

In [6]:
# 문자열 길이 max 구하기
items = ['공공데이터ID', '공공데이터명', '호출URL', '항목ID', '항목명', '항목타입', '요청인자여부']
def get_text_max(name):
    len_max = 0
    df1 = df.filter([name])
    for v in df1.values:
        if len(v[0]) > len_max:
            len_max = len(v[0])
    return len_max
for v in items:
    print(v,' max: ', get_text_max(v))

공공데이터ID  max:  28
공공데이터명  max:  49
호출URL  max:  55
항목ID  max:  30
항목명  max:  30
항목타입  max:  6
요청인자여부  max:  1

In [7]:
# DB 목록
pd.DataFrame(dao.getDBList())

          SCHEMA_NAME DEFAULT_CHARACTER_SET_NAME DEFAULT_COLLATION_NAME
0            ANALYSIS                    utf8mb3     utf8mb3_unicode_ci
1  information_schema                    utf8mb3     utf8mb3_general_ci

In [8]:
# 테이블 목록
pd.DataFrame(dao.getTableList3('analysis'))

None

,TABLE_COMMENT,TABLE_NAME,TABLE_TYPE,ENGINE,DATA_LENGTH,TABLE_ROWS,AUTO_INCREMENT,CREATE_TIME,UPDATE_TIME,TABLE_COLLATION
0,,API_TMP,BASE TABLE,InnoDB,16384,7,NaN,2022.02.19 13:22:10,2022.02.19 14:30:31,utf8mb3_unicode_ci
1,API_마스터,API_MST,BASE TABLE,InnoDB,16384,0,1.0,2022.02.19 13:13:02,None,utf8mb3_unicode_ci
2,API_상세,API_DTL,BASE TABLE,InnoDB,16384,0,1.0,2022.02.19 13:13:10,None,utf8mb3_unicode_ci

In [20]:
# 1단계: 기본 데이터 삭제
sql = 'truncate table api_tmp'
print(dao.execute(sql))

# 2단계: 데이터 등록
# 등록쿼리
sql = '''
insert into API_TMP (
  INF_ID, INF_NM, CALL_URL, COL_ID, COL_NM, COL_TYPE, REQ_YN
) VALUES (
 %s, %s, %s, %s, %s, %s, %s
)
'''
target_cnt = len(df) # 대상 건수
proc_cnt = 0 # 처리 건수
def save(param): # [동록 / 수정] 단건 처리
    return dao.execute(sql, param)
    
for v in df.values:
    v = tuple(v)
    proc_cnt += save(v)
    
print({'대상건수':target_cnt, '처리건수':proc_cnt, '결과': (target_cnt == proc_cnt)})

0
{'대상건수': 25079, '처리건수': 2, '결과': False}