## FinanceDataReader 란?

* 한국 주식 가격, 미국주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

* [FinanceDataReader 사용자 안내서 | FinanceData](https://financedata.github.io/posts/finance-data-reader-users-guide.html)
* https://pandas-datareader.readthedocs.io/en/latest/readers/index.html

## 설치

In [1]:
# 주석을 풀고 설치해 주세요. 주석을 푸는 방법은 아래 코드의 맨 앞에 있는 #을 지워주시면 됩니다.
!pip install -U finance-datareader

Collecting finance-datareader
  Downloading https://files.pythonhosted.org/packages/ed/10/1f819839aae5d08e6cc7b29425d278c10104a18e0155282aa2ce552e3fa2/finance_datareader-0.9.10-py3-none-any.whl
Requirement already satisfied, skipping upgrade: pandas>=0.19.2 in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (1.1.3)
Requirement already satisfied, skipping upgrade: lxml in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (4.2.6)
Requirement already satisfied, skipping upgrade: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (4.41.1)
Collecting requests-file
  Downloading https://files.pythonhosted.org/packages/77/86/cdb5e8eaed90796aa83a6d9f75cfbd37af553c47a291cd47bc410ef9bdb2/requests_file-1.5.1-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (1.18.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (2020.6.20)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from requests-file->finance-datareader) (1.15.0)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.10 requests-file-1.5.1

## 라이브러리 불러오기

In [3]:
import FinanceDataReader as fdr
fdr.__version__

'0.9.31'

In [4]:
# 데이터 분석을 위해 pandas 불러오기
import pandas as pd

In [6]:
fdr.StockListing??

In [7]:
fdr.StockListing('NASDAQ')

100%|██████████| 3138/3138 [00:12<00:00, 242.72it/s]

     Symbol                               Name         Industry IndustryCode
0      AAPL                          Apple Inc   컴퓨터, 전화 및 가전제품       571060
1      MSFT                     Microsoft Corp    소프트웨어 및 IT서비스       572010
2      AMZN                     Amazon.com Inc          다양한 소매업       534020
3        FB               Facebook Inc Class A    소프트웨어 및 IT서비스       572010
4     GOOGL               Alphabet Inc Class A    소프트웨어 및 IT서비스       572010
...     ...                                ...              ...          ...
3133  KINZU         Kins Technology Group Inc.           기타 금융업       556010
3134   JUPW               Jupiter Wellness Inc  개인, 가정 용품 및 서비스       542010
3135   INAQ   Insu Acquisition Corp II Class A           기타 금융업       556010
3136   CMLF               CM Life Sciences Inc           기타 금융업       556010
3137   CAPA  HighCape Capital Acquisition Corp           기타 금융업       556010

[3138 rows x 4 columns]

In [ ]:
fdr.StockListing('KRX')

In [5]:
# 한국거래소 상장종목 전체
df_krx = fdr.StockListing('KRX')
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [12]:
df_krx.tail() # 데이터 끝에서 5개 조회

      Symbol  Market  ...                HomePage Region
2580  000547   KOSPI  ...                     NaN    NaN
2581  000545   KOSPI  ...                     NaN    NaN
2582  003280   KOSPI  ...  http://www.heung-a.com  서울특별시
2583  037440  KOSDAQ  ...   http://www.heerim.com  서울특별시
2584  238490  KOSDAQ  ...   http://www.hims.co.kr  인천광역시

[5 rows x 10 columns]

In [13]:
# 행과 열의 크기를 봅니다.(행 : 0, 열 : 1) 순
df_krx.shape

(2585, 10)

In [14]:
# 전체 데이터프레임의 요약정보를 봅니다.
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2585 entries, 0 to 2584
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          2585 non-null   object
 1   Market          2585 non-null   object
 2   Name            2585 non-null   object
 3   Sector          2383 non-null   object
 4   Industry        2363 non-null   object
 5   ListingDate     2383 non-null   datetime64[ns]
 6   SettleMonth     2383 non-null   object
 7   Representative  2383 non-null   object
 8   HomePage        2213 non-null   object
 9   Region          2383 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 222.1+ KB

In [19]:
True == 1

True

In [20]:
False == 0

True

In [16]:
df_krx.isna().sum()

Symbol              0
Market              0
Name                0
Sector            202
Industry          222
ListingDate       202
SettleMonth       202
Representative    202
HomePage          372
Region            202
dtype: int64

In [21]:
# 기술통계 값을 요약합니다.
df_krx.describe()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

        Symbol  Market   Name  ... Representative               HomePage Region
count     2585    2585   2585  ...           2383                   2213   2383
unique    2585       3   2585  ...           2265                   2191     21
top     138490  KOSDAQ  플레이위드  ...              -  http://www.ildong.com  서울특별시
freq         1    1445      1  ...              4                      2    959
first      NaN     NaN    NaN  ...            NaN                    NaN    NaN
last       NaN     NaN    NaN  ...            NaN                    NaN    NaN

[6 rows x 10 columns]

## 하나의 범주형 변수에 대한 빈도수 구하기

* KONEX(Korea New Exchange) : https://terms.naver.com/entry.nhn?docId=1006691&cid=43667&categoryId=43667
    * 일정 요건을 갖춘 비상장 기업에 문호를 개방하기 위해 개설하는 유가증권시장, 코스닥시장에 이은 제3의 주식시장을 일컫는다. 코넥스시장은 우수한 기술력을 보유하고 있음에도 불구하고, 짧은 경력 등을 이유로 자금 조달에 어려움을 겪는 초기 중소기업과 벤처기업이 자금을 원활하게 조달할 수 있도록 하기 위해 설립된 자본시장으로, 2013년 7월 1일 개장되었다. [네이버 지식백과] 코넥스 (시사상식사전, pmg 지식엔진연구소)

In [18]:
# Market
print("Market 항목만 출력: \n",df_krx.Market)
print("\nMarket 타입: ", type(df_krx.Market))
print("\n총계: \n",df_krx["Market"].value_counts())

Market 항목만 출력:
 0       KOSDAQ
1        KOSPI
2        KOSPI
3       KOSDAQ
4       KOSDAQ
         ...
7488     KOSPI
7489     KOSPI
7490     KOSPI
7491    KOSDAQ
7492    KOSDAQ
Name: Market, Length: 7493, dtype: object

Market 타입:  <class 'pandas.core.series.Series'>

총계:
 KOSPI     5801
KOSDAQ    1561
KONEX      131
Name: Market, dtype: int64

In [23]:
df_krx["Sector"].value_counts().head(10)

특수 목적용 기계 제조업     140
소프트웨어 개발 및 공급업    133
전자부품 제조업          121
자동차 신품 부품 제조업      96
의약품 제조업            92
기타 금융업             90
기타 화학제품 제조업        87
금융 지원 서비스업         75
통신 및 방송 장비 제조업     72
1차 철강 제조업          57
Name: Sector, dtype: int64

In [24]:
df_krx["Industry"].value_counts().head(10)

기업인수합병        38
지주회사          18
지주사업           9
모바일게임          7
화장품            7
기업 인수 및 합병     6
기업인수 및 합병      6
벤처캐피탈          4
증권업            3
셋톱박스           3
Name: Industry, dtype: int64

In [25]:
df_krx["Region"].value_counts()

서울특별시      959
경기도        668
충청남도        90
경상남도        89
인천광역시       85
충청북도        82
부산광역시       75
경상북도        61
대구광역시       56
대전광역시       51
전라북도        28
강원도         27
울산광역시       25
광주광역시       24
전라남도        22
제주특별자치도     10
세종특별자치시      9
홍콩           9
미국           5
케이맨 제도       5
일본           3
Name: Region, dtype: int64

In [29]:
# 케이맨 제도에 있는 회사 찾기
df_krx[df_krx["Region"] == "케이맨 제도"]

      Symbol  Market  ...                           HomePage  Region
282   900280  KOSDAQ  ...         http://www.jsj-wheel.co.kr  케이맨 제도
314   900070  KOSDAQ  ...        http://www.globalsmtech.com  케이맨 제도
1242  900120  KOSDAQ  ...                                NaN  케이맨 제도
1487  900140   KOSPI  ...        http://www.lvmcholdings.net  케이맨 제도
2117  900250  KOSDAQ  ...  http://www.crystalnewmaterial.com  케이맨 제도

[5 rows x 10 columns]

## 파일로 저장하기

In [35]:
df_krx.to_csv("krx_cp949.csv", index=False, encoding="cp949")

In [36]:
pd.read_csv("krx_cp949.csv", encoding="cp949")

      Symbol  Market  ...                       HomePage Region
0     060310  KOSDAQ  ...           http://www.3sref.com  서울특별시
1     095570   KOSPI  ...         http://www.ajnet.co.kr  서울특별시
2     006840   KOSPI  ...  http://www.aekyunggroup.co.kr  서울특별시
3     054620  KOSDAQ  ...   http://www.apsholdings.co.kr    경기도
4     265520  KOSDAQ  ...     http://www.apsystems.co.kr    경기도
...      ...     ...  ...                            ...    ...
2580  000547   KOSPI  ...                            NaN    NaN
2581  000545   KOSPI  ...                            NaN    NaN
2582  003280   KOSPI  ...         http://www.heung-a.com  서울특별시
2583  037440  KOSDAQ  ...          http://www.heerim.com  서울특별시
2584  238490  KOSDAQ  ...          http://www.hims.co.kr  인천광역시

[2585 rows x 10 columns]