In [ ]:
## 네이버 금융 개별종목 수집

In [1]:
import pandas as pd

* 2020년 주요 상장주식
    * 빅히트 : https://finance.naver.com/item/main.nhn?code=352820
    * 카카오게임즈 : https://finance.naver.com/item/main.nhn?code=293490
    * SK바이오팜 : https://finance.naver.com/item/main.nhn?code=326030

In [2]:
# item_code = "352820"
# item_name = "빅히트"

item_code = "326030"
item_name = "SK바이오팜"


# 종목 URL 만들기
# url = f"https://finance.naver.com/item/sise.nhn?code={item_code}"
url = f"https://finance.naver.com/item/sise_day.nhn?code={item_code}&page=1"

In [3]:
domain = "naver.com"
f"http://{domain}"

'http://naver.com'

In [4]:
url

'https://finance.naver.com/item/sise_day.nhn?code=326030&page=1'

In [5]:
"/item/sise_day.nhn?code=326030&page=3"

'/item/sise_day.nhn?code=326030&page=3'

In [6]:
1 == "1"

False

In [7]:
str(1) == "1"

True

## <font color="red">라이브 강의 이후 변경사항 </font>
* 네이버 증권 일별 시세의 웹페이지가 변경되어 기존의 방법으로는 불러올 수 없습니다.
* 일별 시세 페이지에서 브라우저가 아닐 때 응답을 하지 않기 때문인데 이 때 requests 라는 라이브러리를 통해 HTTP 요청을 보내고 웹사이트의 소스코드를 받아와서 table 태그를 찾는 방법으로 받아올 수 있습니다.

* 아래의 코드를 보면 requests를 통해 HTTP 통신을 보내고 beautifulsoup을 통해 HTML 페이지 내에서 table 태그를 찾습니다.
* table 태그를 read_html로 불러오면 판다스의 데이터프레임으로 읽어올 수 있습니다.

## requests를 통한 HTTP 요청
* [Requests: HTTP for Humans™ — Requests documentation](https://requests.readthedocs.io/en/master/)
* [Quickstart — Requests documentation # custom-headers](https://requests.readthedocs.io/en/latest/user/quickstart/#custom-headers)

In [9]:
# 일별 시세 페이지를 읽어 올 때 브라우저가 아니면 응답을 하지 않기 때문에 브라우저 인 것 처럼 요청을 보냅니다.
# 응답으로 HTML 페이지 전체를 받아옵니다.
import requests

headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36'}

response = requests.get(url, headers=headers)
# response.text

## BeautifulSoup 을 통한 table 태그 찾기

In [42]:
# BeautifulSoup 을 통해 html 페이지 내의 table 태그를 찾습니다.
from bs4 import BeautifulSoup as bs

html = bs(response.text, "lxml")
html_table = html.select("table")
len(html_table)

2

In [43]:
# html에서 찾은 table 태그를 pandas 로 읽어옵니다.
table = pd.read_html(str(html_table))
table[0].dropna()

            날짜        종가     전일비        시가        고가        저가       거래량
1   2021.03.16  110000.0  1000.0  111000.0  111500.0  109500.0  319703.0
2   2021.03.15  109000.0   500.0  109500.0  112500.0  108500.0  407201.0
3   2021.03.12  108500.0  2500.0  107500.0  110500.0  107000.0  414138.0
4   2021.03.11  106000.0  2000.0  104000.0  107000.0  103500.0  366145.0
5   2021.03.10  104000.0  4000.0  110000.0  110500.0  103500.0  508231.0
9   2021.03.09  108000.0  1500.0  107000.0  111000.0  105500.0  497927.0
10  2021.03.08  106500.0  3000.0  110000.0  113500.0  105500.0  540419.0
11  2021.03.05  109500.0  1000.0  110000.0  111000.0  105000.0  760269.0
12  2021.03.04  110500.0  4500.0  113500.0  114000.0  110000.0  656140.0
13  2021.03.03  115000.0  3000.0  114000.0  115000.0  111000.0  827873.0

In [44]:
# table = pd.read_html(url, encoding="cp949")
table = pd.read_html(str(html_table))
len(table)

2

In [45]:
table[0]

            날짜        종가     전일비        시가        고가        저가       거래량
0          NaN       NaN     NaN       NaN       NaN       NaN       NaN
1   2021.03.16  110000.0  1000.0  111000.0  111500.0  109500.0  319703.0
2   2021.03.15  109000.0   500.0  109500.0  112500.0  108500.0  407201.0
3   2021.03.12  108500.0  2500.0  107500.0  110500.0  107000.0  414138.0
4   2021.03.11  106000.0  2000.0  104000.0  107000.0  103500.0  366145.0
5   2021.03.10  104000.0  4000.0  110000.0  110500.0  103500.0  508231.0
6          NaN       NaN     NaN       NaN       NaN       NaN       NaN
7          NaN       NaN     NaN       NaN       NaN       NaN       NaN
8          NaN       NaN     NaN       NaN       NaN       NaN       NaN
9   2021.03.09  108000.0  1500.0  107000.0  111000.0  105500.0  497927.0
10  2021.03.08  106500.0  3000.0  110000.0  113500.0  105500.0  540419.0
11  2021.03.05  109500.0  1000.0  110000.0  111000.0  105000.0  760269.0
12  2021.03.04  110500.0  4500.0  113500.0  114000.0  110000.0  656140.0
13  2021.03.03  115000.0  3000.0  114000.0  115000.0  111000.0  827873.0
14         NaN       NaN     NaN       NaN       NaN       NaN       NaN

In [46]:
df = table[0].dropna()
df

            날짜        종가     전일비        시가        고가        저가       거래량
1   2021.03.16  110000.0  1000.0  111000.0  111500.0  109500.0  319703.0
2   2021.03.15  109000.0   500.0  109500.0  112500.0  108500.0  407201.0
3   2021.03.12  108500.0  2500.0  107500.0  110500.0  107000.0  414138.0
4   2021.03.11  106000.0  2000.0  104000.0  107000.0  103500.0  366145.0
5   2021.03.10  104000.0  4000.0  110000.0  110500.0  103500.0  508231.0
9   2021.03.09  108000.0  1500.0  107000.0  111000.0  105500.0  497927.0
10  2021.03.08  106500.0  3000.0  110000.0  113500.0  105500.0  540419.0
11  2021.03.05  109500.0  1000.0  110000.0  111000.0  105000.0  760269.0
12  2021.03.04  110500.0  4500.0  113500.0  114000.0  110000.0  656140.0
13  2021.03.03  115000.0  3000.0  114000.0  115000.0  111000.0  827873.0

## 페이지별 데이터 수집 함수 만들기

In [19]:
def get_day_list(item_code, page_no):
    """
    일자별 시세를 페이지별로 수집
    """
    url = f"https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}"

    headers = {'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36'}

    response = requests.get(url, headers=headers)
    html = bs(response.text, "lxml")
    table = html.select("table")
    table = pd.read_html(str(table))
    df_day = table[0].dropna()
    return df_day

In [20]:
# 함수가 잘 만들어졌는지 확인하기
page_no = 3
get_day_list(item_code, page_no)

            날짜        종가     전일비        시가        고가        저가       거래량
1   2021.02.15  152000.0   500.0  153000.0  153500.0  151000.0  149945.0
2   2021.02.10  152500.0  3000.0  149500.0  153000.0  149000.0  441432.0
3   2021.02.09  149500.0     0.0  150000.0  150500.0  148500.0  211201.0
4   2021.02.08  149500.0   500.0  149000.0  150000.0  148000.0  171881.0
5   2021.02.05  149000.0   500.0  150500.0  151000.0  148500.0  145785.0
9   2021.02.04  149500.0     0.0  149500.0  149500.0  147500.0  128877.0
10  2021.02.03  149500.0     0.0  149500.0  150000.0  147000.0  205471.0
11  2021.02.02  149500.0   500.0  150500.0  150500.0  149000.0  191541.0
12  2021.02.01  149000.0  4000.0  147500.0  151000.0  145500.0  319412.0
13  2021.01.29  145000.0  3000.0  149000.0  149500.0  144500.0  256485.0

## 반복문을 통한 전체 일자 데이터 수집하기
* (주의) 기간이 긴 데이터를 수집할때는 서버에 부담을 주지 않기 위해 time.sleep()값을 좀 2~3초 정도로 좀 더 길게 주세요.

In [21]:
while True:
    page_no += 1
    print(page_no)
    if page_no > 10:
        break

4
5
6
7
8
9
10
11

In [22]:
import time
page_no = 1
item_list = []

while True:
    df_day = get_day_list(item_code, page_no)
    page_no += 1
    item_list.append(df_day)
    time.sleep(0.5)
    if len(df_day) != 10:
        break

## 수집한 데이터 하나의 데이터프레임으로 합치기

In [23]:
len(item_list)

18

In [24]:
df = pd.concat(item_list)
df.shape

(173, 7)

In [25]:
df.head()

           날짜        종가     전일비        시가        고가        저가       거래량
1  2021.03.16  110000.0  1000.0  111000.0  111500.0  109500.0  319705.0
2  2021.03.15  109000.0   500.0  109500.0  112500.0  108500.0  407201.0
3  2021.03.12  108500.0  2500.0  107500.0  110500.0  107000.0  414138.0
4  2021.03.11  106000.0  2000.0  104000.0  107000.0  103500.0  366145.0
5  2021.03.10  104000.0  4000.0  110000.0  110500.0  103500.0  508231.0

In [26]:
df.tail()

            날짜        종가      전일비        시가        고가        저가         거래량
12  2020.07.08  217000.0    500.0  214500.0  225000.0  198000.0   5990009.0
13  2020.07.07  216500.0   2000.0  219000.0  269500.0  210000.0  10105187.0
1   2020.07.06  214500.0  49500.0  214500.0  214500.0  193500.0   7126211.0
2   2020.07.03  165000.0  38000.0  165000.0  165000.0  165000.0    711921.0
3   2020.07.02  127000.0  29000.0   98000.0  127000.0   98000.0    698642.0

## 데이터프레임에 종목코드와 종목명을 추가하기

In [27]:
df["종목코드"] = item_code
df["종목명"] = item_name

In [28]:
df.head()

           날짜        종가     전일비        시가  ...        저가       거래량    종목코드     종목명
1  2021.03.16  110000.0  1000.0  111000.0  ...  109500.0  319705.0  326030  SK바이오팜
2  2021.03.15  109000.0   500.0  109500.0  ...  108500.0  407201.0  326030  SK바이오팜
3  2021.03.12  108500.0  2500.0  107500.0  ...  107000.0  414138.0  326030  SK바이오팜
4  2021.03.11  106000.0  2000.0  104000.0  ...  103500.0  366145.0  326030  SK바이오팜
5  2021.03.10  104000.0  4000.0  110000.0  ...  103500.0  508231.0  326030  SK바이오팜

[5 rows x 9 columns]

## 컬럼 순서 변경하기

In [29]:
df = df[['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']]
df.head()

     종목코드     종목명          날짜        종가  ...        시가        고가        저가       거래량
1  326030  SK바이오팜  2021.03.16  110000.0  ...  111000.0  111500.0  109500.0  319705.0
2  326030  SK바이오팜  2021.03.15  109000.0  ...  109500.0  112500.0  108500.0  407201.0
3  326030  SK바이오팜  2021.03.12  108500.0  ...  107500.0  110500.0  107000.0  414138.0
4  326030  SK바이오팜  2021.03.11  106000.0  ...  104000.0  107000.0  103500.0  366145.0
5  326030  SK바이오팜  2021.03.10  104000.0  ...  110000.0  110500.0  103500.0  508231.0

[5 rows x 9 columns]

## 중복데이터 제거하기
* drop_duplicates 를 통해 중복된 데이터가 있다면 제거합니다.

In [30]:
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

(173, 9)
(173, 9)

## 기술통계값 구하기

In [31]:
# describe는 기본적으로 수치데이터에 대한 기술통계값을 구하게 됩니다.
df.describe()

                  종가           전일비  ...             저가           거래량
count     173.000000    173.000000  ...     173.000000  1.730000e+02
mean   163609.826590   3745.664740  ...  160708.092486  7.123889e+05
std     21829.534252   5916.231736  ...   21329.162898  1.428186e+06
min    104000.000000      0.000000  ...   98000.000000  1.074820e+05
25%    152000.000000   1000.000000  ...  149500.000000  2.008290e+05
50%    167500.000000   2000.000000  ...  165000.000000  3.197050e+05
75%    176500.000000   4000.000000  ...  174000.000000  6.264030e+05
max    217000.000000  49500.000000  ...  210000.000000  1.242668e+07

[8 rows x 6 columns]

In [32]:
df["거래량"].mean()

712388.9248554914

## 최근 날짜 구해서 파일명 만들기

In [33]:
df.iloc[0]

종목코드        326030
종목명         SK바이오팜
날짜      2021.03.16
종가          110000
전일비           1000
시가          111000
고가          111500
저가          109500
거래량         319705
Name: 1, dtype: object

In [34]:
date = df.iloc[0]["날짜"]
date

'2021.03.16'

In [35]:
file_name = f"{item_name}_{item_code}_{date}.csv"
file_name

'SK바이오팜_326030_2021.03.16.csv'

## 파일로 저장하기

In [36]:
# 파일로 저장하기 데이터프레임의 기본 index 는 저장하지 않도록 옵션 추가
df.to_csv(file_name, index=False)

In [37]:
pd.read_csv(file_name)

       종목코드     종목명          날짜  ...        고가        저가         거래량
0    326030  SK바이오팜  2021.03.16  ...  111500.0  109500.0    319705.0
1    326030  SK바이오팜  2021.03.15  ...  112500.0  108500.0    407201.0
2    326030  SK바이오팜  2021.03.12  ...  110500.0  107000.0    414138.0
3    326030  SK바이오팜  2021.03.11  ...  107000.0  103500.0    366145.0
4    326030  SK바이오팜  2021.03.10  ...  110500.0  103500.0    508231.0
..      ...     ...         ...  ...       ...       ...         ...
168  326030  SK바이오팜  2020.07.08  ...  225000.0  198000.0   5990009.0
169  326030  SK바이오팜  2020.07.07  ...  269500.0  210000.0  10105187.0
170  326030  SK바이오팜  2020.07.06  ...  214500.0  193500.0   7126211.0
171  326030  SK바이오팜  2020.07.03  ...  165000.0  165000.0    711921.0
172  326030  SK바이오팜  2020.07.02  ...  127000.0   98000.0    698642.0

[173 rows x 9 columns]

In [38]:
table = pd.read_html("https://www.seoul.go.kr/coronaV/coronaStatus.do")

In [39]:
len(table)

6

In [40]:
table[3]

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []